### Load Dataset

In [2]:
import pandas as pd
df = pd.read_csv('messy__player_spending_data_.csv')
df.head()

,Player ID,Sessions Played,Avg Session Duration (mins),Total Hours Played,Engagement Score,Spending (USD),New Player,Game Mode,Device Used
0,Player1889,88.0,52.540813,228.481935,6.569165,181.999202,Yes,BATTLEROYALE,Tablet
1,Playexxr7059,41.0,52.540813,228.481935,3.354784,181.999202,Nxxo,Casual,PxxC1
2,Player6122,18.0,52.540813,228.481935,2.478129,181.999202,No,Straxxtegy,PxxC
3,player1987,79.0,160.034785,228.481935,8.107943,181.999202,No,Battlexx Royale,PC1
4,player6339,81.0,NaN,NaN,NaN,181.999202,NaN,Battlexx Royale,NaN

In [3]:
df.describe()

,Sessions Played,Avg Session Duration (mins),Total Hours Played,Engagement Score,Spending (USD)
count,500.000000,464.000000,464.000000,464.000000,500.000000
mean,57.425590,101.711357,315.759760,5.211416,185.358129
std,27.297914,49.707221,153.564744,2.629941,69.087819
min,0.924622,5.435038,49.505115,1.112633,3.187987
25%,33.129586,52.697554,228.499014,2.554330,181.908821
50%,54.038554,87.306350,331.754796,4.606317,181.999202
75%,81.052691,151.844831,452.487825,7.888849,182.093521
max,100.119858,180.099523,493.038239,10.118860,427.002822

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Player ID                    500 non-null    object
 1   Sessions Played              500 non-null    float64
 2   Avg Session Duration (mins)  464 non-null    float64
 3   Total Hours Played           464 non-null    float64
 4   Engagement Score             464 non-null    float64
 5   Spending (USD)               500 non-null    float64
 6   New Player                   464 non-null    object
 7   Game Mode                    500 non-null    object
 8   Device Used                  430 non-null    object
dtypes: float64(5), object(4)
memory usage: 35.3+ KB

#### Removing duplicates and incorrect data

In [5]:
df_copy = df.copy()

In [6]:
# Check duplicate rows
df_copy.duplicated().any()

np.False_

In [7]:
df_copy.duplicated().sum()

np.int64(0)

In [8]:
# Remove duplicate rows
df_copy = df_copy.drop_duplicates()

In [9]:
# Standardize Player ID (e.g., all lowercase for uniformity)
df_copy['Player ID'] = df_copy['Player ID'].str.lower()

In [10]:
df_copy.head()

,Player ID,Sessions Played,Avg Session Duration (mins),Total Hours Played,Engagement Score,Spending (USD),New Player,Game Mode,Device Used
0,player1889,88.0,52.540813,228.481935,6.569165,181.999202,Yes,BATTLEROYALE,Tablet
1,playexxr7059,41.0,52.540813,228.481935,3.354784,181.999202,Nxxo,Casual,PxxC1
2,player6122,18.0,52.540813,228.481935,2.478129,181.999202,No,Straxxtegy,PxxC
3,player1987,79.0,160.034785,228.481935,8.107943,181.999202,No,Battlexx Royale,PC1
4,player6339,81.0,NaN,NaN,NaN,181.999202,NaN,Battlexx Royale,NaN

In [14]:
def remove_xx(value):
    if type(value) == str:
        value = value.replace("xx", "")
    return value

In [21]:
def remove_space(value):
    if type(value) == str:
        value = value.strip()
    return value

In [24]:
def to_lower_case(value):
    if type(value) == str:
        value = value.lower()
    return value

In [ ]:
def clean_data(data):
    data = remove_xx(data)
    data = remove_space(data)
    data = to_lower_case(data)
    return data

In [ ]:
def clean_dataset(df):
    categorical_columns = df.select_dtypes(include=['object', 'category']).columns.to_list()
    print(categorical_columns)
    for column in categorical_columns:
        df[column] = df[column].apply()
    return df

In [26]:
clean_df = clean_dataset(df_copy)
clean_df.head()

['Player ID', 'New Player', 'Game Mode', 'Device Used']

C:\Users\damol\AppData\Local\Temp\ipykernel_3860\2554913628.py:5: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  df[column] = df[column].apply(remove_xx, remove_space, to_lower_case)

TypeError: Value after * must be an iterable, not function

In [20]:
categorical_columns = clean_df.select_dtypes(include=['object', 'category']).columns.to_list()
for col in categorical_columns:
    print(clean_df[col].unique())

['player1889' 'player7059' 'player6122' 'player1987' 'player6339'
 'player7586' 'player1886' 'player5697' 'player9447' 'player4707'
 'player6604' 'player5985' 'player2259' 'player3673' 'player8457'
 'player5394' 'player6918' 'player1507' 'player6410' 'player8698'
 'player1685' 'player1294' 'player5032 ' 'player4865' 'player7833 '
 'player4651' 'player6038' 'player5394 ' 'player8618 ' 'player3007 '
 'player4828 ' 'player8074' 'player6541' 'player8374' 'player3824'
 'player2705' 'player9266' 'player9447 ' 'player4654' 'player4407'
 'player7320' 'player3673 ' 'player8074 ' 'player3784' 'player6356'
 'player9053' 'player7382' 'player9345' 'player4394 ' 'player6475'
 'player3637 ' 'player6622' 'player7413 ' 'player9364' 'player7299'
 'player8912' 'player6582' 'player7105' 'player8698 ' 'player8940'
 'player5985 ' 'player2397' 'player5817' 'player1987 ' 'player3943 '
 'player5936' 'player7105 ' 'player8624' 'player6443' 'player3679'
 'player9266 ' 'player3007' 'player3003' 'player7152 ' 'player1294 ']
['Yes' 'No' 'No ' nan 'Yes ' 'yes' 'no' 'NO' 'YES']
['BATTLEROYALE' 'Casual' 'Strategy' 'Battle Royale' 'Strategy '
 'Battle Royale ' 'strategy' 'BattleRoyale' 'Adventure' 'CASUAL'
 'BattleRoyale ' 'casual' 'Adventure ' 'battleroyale' 'BATTLE ROYALE'
 'Battle royale' 'battle royale' 'adventure' 'Battleroyale' 'Casual '
 'ADVENTURE' 'STRATEGY']
['Tablet' 'PC1' 'PC' nan 'PC ' 'Console ' 'Mobile ' 'Console' 'MOBILE'
 'Tablet ' 'Mobile' 'tablet' 'PC1 ' 'CONSOLE' 'Pc' 'mobile' 'Pc1' 'pc1'
 'pc' 'console']

### Handling missing values

In [7]:
# Check missing values
df.isna().sum()

Player ID                       0
Sessions Played                 0
Avg Session Duration (mins)    36
Total Hours Played             36
Engagement Score               36
Spending (USD)                  0
New Player                     36
Game Mode                       0
Device Used                    70
dtype: int64